.footer{
    display: flex;
    flex-direction: row;
}

button.active {
    background-color: #b3d9ff;
}

button.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page{
    margin: 1px;
}

button:hover {
  background-color: #7fa1c4;
}

.delete{
    width: 30%;
}

.btn{
    background-color: rgb(3, 224, 253);
}

.deleteButton{
    background-color: rgb(243, 7, 7) !important;
}

.pages{
    width: 70%;
}
